{% extends 'BlogBundle::base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body -%}
    
<div class="container">
    <div class="row">    
    	<div class="col-lg-12">
            <div class="page-header">
                <h2>Post list</h2>
            </div>
            <ul class="breadcrumb">
                <li><a href="{{ path('blog_homepage') }}">Start</a></li>
                <li class="active">Blog</li>
            </ul>
    	</div>
    </div>
    <div class="row">
        <div class="col-md-8">
        {% for entity in entities %}
            <h2><a href="{{ path('post_show', { 'id': entity.id, 'category': entity.category.slug, 'title': entity.titleslug }) }}">{{ entity.title|title|raw }}</a></h2>
            <p>
                <i class="fa fa-calendar"></i> <a href="#">{% if entity.publishedat %}{{ entity.publishedat|date('l, F j, Y') }}{% endif %}</a> | 
                <i class="fa fa-user"></i> <a href="#">{{ entity.authoremail }}</a> | 
                <i class="fa fa-share-alt"></i> <a href="{{ path('blog_category', { 'slug': entity.category.slug }) }}">{{ entity.category }}</a>
            </p>
            <p>
                {{ entity.excerpt|raw|slice(0, 300) }}
                {{ entity.excerpt|length > 300 ? '[...]' : ''}}
                {#{{ entity.excerpt|length > 300 ? entity.excerpt|raw|slice(0,300) ~ '[...]' : entity.excerpt|raw }}#}
            </p>
            <a class="btn btn-primary" href="{{ path('post_show', { 'id': entity.id, 'category': entity.category.slug, 'title': entity.titleslug }) }}">Read More <i class="fa fa-angle-right"></i></a>
            <hr/>
        {% endfor %} 
        </div>
        <div class="col-md-4">
            {{ include('BlogBundle:Post:_sidebar.html.twig', { 'categories': categories }) }}
        </div>
    </div>
</div>
    
{#
    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Excerpt</th>
                <th>Content</th>
                <th>Author_email</th>
                <th>Status_post</th>
                <th>Show_comment</th>
                <th>Enable_comment</th>
                <th>Views_post</th>
                <th>Published_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.excerpt }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.authoremail }}</td>
                <td>{{ entity.statuspost }}</td>
                <td>{{ entity.showcomment }}</td>
                <td>{{ entity.enablecomment }}</td>
                <td>{{ entity.viewspost }}</td>
                <td>{% if entity.publishedat %}{{ entity.publishedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
#}
{% endblock %}
